@mixin setButtonColor($color) {
	
	background-color: $color;
	border: em(5) solid desaturate(darken($color, 20%), 40%);
	box-sizing: border-box;
	box-shadow: 0 em(20) desaturate(darken($color, 20%), 40%),
	inset 0 0 0 em(5) desaturate(darken($color, 15%), 20%);
	
	&:active {
		background-color: lighten($color, 5%);
		transform: translateY(em(20));
		box-shadow: 0 em(5) desaturate(darken($color, 20%), 40%),
		inset 0 0 0 em(5) desaturate(darken($color, 10%), 20%);
	}

}

.btn_default {
	@include setButtonColor($beige);
	width: em(150);
	height: em(140);
	margin: 0 em(5) em(20);
	border-radius: em(20);
	transition: all .1s;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position-x: 55%;
	background-position-y: 50%;
	position: relative;
	display: inline-block;

	@include media(mobile) {
		width: em(75);
		height: em(70);
		border-radius: em(10);
	}

	&.brass-button {
		background-image: url('/assets/images/pots/brass.png');
		background-size: 75%;
	}

	&.bronze-button {
		background-image: url('/assets/images/pots/bronze.png');
		background-size: 75%;
	}

	&.silver-button {
		background-image: url('/assets/images/pots/silver.png');
		background-size: 75%;
	}

	&.gold-button {
		background-image: url('/assets/images/pots/gold.png');
		background-size: 75%;
	}

	&.change-button {

		&:before {
			content:'';
			background-image: url('/assets/images/general/icon_change.png');
			background-size: 35%;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.9;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0%;
			top: 3%;
			z-index: 1;
			transition: all .3s;
		}

		@include media(mobile) {
			&:active {
				&:before {
					transform: rotate(180deg);
				}
			}
		}

		@include media(tablet) {
			&:active {
				&:before {
					transform: rotate(180deg);
				}
			}
		}
		
		@include media(desktop) {
			&:hover {
				&:before {
					transform: rotate(180deg);
				}
			}
		}
	}
}