.display {
	width: rem(400);
	height: rem(400);
	border: solid rem(10);
	background-color: $dark;
	border-top-color: lighten($grey, 15%);
	border-right-color: lighten($grey, 5%);
	border-bottom-color: darken($grey, 15%);
	border-left-color: lighten($grey, 5%);
	border-radius: rem(15);
	overflow: hidden;
	position: relative;

	canvas {
		opacity: 0;
	}

	.loaded {
		canvas {
			animation: fade .3s 1s;
			animation-fill-mode: both;
		}
	}

	.loading-thumb {
		opacity: .75;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		animation: rotate 2s infinite linear;
		background-image: url('/assets/images/general/monsterball-white.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: rem(80);
	}
}