#pokedex {
	width: 100%;
	border-radius: rem(15);
	transform: translateY(em(-10));
	background-color: desaturate(darken($beige, 5%), 20%);
	box-shadow: 0 0 0 em(5) desaturate(darken($beige, 20%), 40%),
	0 em(20) 0 em(5) desaturate(darken($beige, 20%), 40%);
	border: solid em(5) desaturate(darken($beige, 15%), 20%);

	.custom-scroll {
		.custom-scrollbar {
			opacity: 1;
			right: 0;
			width: 15px;
			height: em(610);
		}

		.outer-container {
			overflow: hidden;
		}

		.inner-container {
			height: em(610);
		}

		.inner-handle {
			background-image: url("/assets/images/general/monsterball.png");
			background-color: rgba($black, 0);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	
	.monster-container {
		width: 100%;
		text-align: center;
	}

}