@mixin potBrights($color, $opacity: 0) {
    @if $opacity != 0 {
        .pot_cover {
            background-color: saturate($color, 5%);

            &:before {
                background-color: saturate(lighten($color, 10%), 5%);
            }

            &-shoulder_strap {
                background-color: saturate(darken($color, 10%), 5%);

                &:before {
                    background-color: saturate(lighten($color, 5%), 5%);
                }
            }
        }
    }

    .pot_cover-shoulder_strap-brights,
    .pot_base-border-brights,
    .pot_cover-brights,
    .pot_base-brights {
        @if $opacity != 0 {
            opacity: $opacity;
        } @else {
            display: none;
        }

        .pot_bright {
            background-color: lighten($color, 5%);
        }
    }
}


@mixin potDetails($color, $opacity: 0) {
    .pot_base-details {
        @if $opacity != 0 {
            opacity: $opacity;
        } @else {
            display: none;
        }

        .pot_detail {
            &:first-child {
                background-color: darken($color, 15%);
            }
            &:nth-child(2) {
                background-color: darken($color, 20%);
            }
            &:nth-child(3) {
                background-color: darken($color, 15%);
            }
            &:nth-child(4) {
                background-color: darken($color, 5%);
            }
            &:last-child {
                background-color: darken($color, 15%);
            }
        }
    }
}

@mixin setPotColor($color) {
    background-color: darken($color, 10%);
    box-shadow: inset 0 em(-20) 0 darken($color, 15%);
    
    .pot_cover {
        background-color: $color;

        &:before {
            background-color: lighten($color, 10%);
        }

        &-shoulder_strap {
            background-color: darken($color, 10%);

            &:before {
                background-color: lighten($color, 5%);
            }
        }
    }

    .pot_base {
        background-color: $color;

        &:before {
            background-color: darken($color, 15%);
            box-shadow: inset 0 2em 2em 1em darken($color, 17%);
        }

        &-slots {        
            .pot_slot {
            }
        }

        &-shoulder_strap {
            box-shadow: 0 em(10) 0 em(20) $color;

            &:after {
                box-shadow: inset 0 em(10) darken($color, 10%)
            }

            &:before {
                box-shadow: 0 em(10) darken($color, 10%);
            }

            &.left-strap {
                
                &:before {
                    right: 0;
                    border-top: em(30) solid $color;
                    border-left: em(20) solid $color;
                    border-bottom: em(20) solid $color;
                }
            }
            
            &.right-strap {
                
                &:before {
                    left: 0;
                    border-top: em(30) solid $color;
                    border-right: em(20) solid $color;
                    border-bottom: em(20) solid $color;
                }
            }
        }
    }
}

#potContainer {
    position: relative;
    font-size: 16px;
    margin: em(150) auto em(20);
    width: em(360);
    height: em(305);
    border-radius: em(10);
    transition: all .3s;

    @include media(mobile) {
        font-size: 12px;
    }

    .pot_cover {
        width: 100%;
        bottom: 100%;
        height: em(100);
        position: absolute;
        margin-bottom: em(10);
        border-radius: em(10); 
        transition: all .3s;
        overflow: hidden;

        &:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: em(10);
            position: absolute;
            border-radius: em(10) em(10) 0 0;
            transition: all .3s;
        }

        &-shoulder_strap {
            margin-bottom: em(110);
            width: em(60);
            height: em(30);
            left: 50%;
            bottom: 100%;
            position: absolute;
            overflow: hidden;
            transform: translateX(-50%);
            border-radius: em(10) em(10) 0 0;
            transition: all .3s;

            &:before {
                content: '';
                top: 0;
                left: 0;
                right: 0;
                height: em(10);
                position: absolute;
                border-radius: em(10) em(10) 0 0;
                transition: all .3s;
            }
        }
    }

    .pot_base {
        position: relative;
        width: em(360);
        height: em(255);
        border-radius: em(11);
        transition: all .3s;

        &:before {
            content: '';
            top: 50%;
            left: 50%;
            z-index: 1;
            width: em(340);
            height: em(235);
            position: absolute;
            border-radius: em(10);
            transform: translate(-50%, -50%);
            transition: all .3s;
        }

        &-slots {
            line-height: 0;
            letter-spacing: 0;
            text-align: center;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: em(340);
            height: em(235);
            position: absolute;
            margin-top: em(10);
            transform: translate(-50%, -50%);
            transition: all .3s;

            .pot_slot {
                display: inline-block;
                margin: em(9);
                width: em(90);
                height: em(90);
                border-radius: em(10);
                background-color: rgba($black, .5);    
                transition: all .3s;
                box-shadow: em(-1) em(1) rgba($white, .15),
                inset em(-1) em(1) rgba($black, .15);


                &:first-child {
                    margin-left: em(54)
                }
                &:nth-child(2) {
                    margin-right: em(54)
                }
            }
        }

        &-shoulder_strap {
            position: absolute;
            top: em(90);
            width: em(25);
            height: em(75);
            transition: all .3s;

            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: em(25);
                height: em(75);
                transition: all .3s;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: em(-20);
                width: em(25);
                height: em(65);
                transition: all .3s;
            }
            
            &.left-strap {
                right: 100%;
                border-radius: em(10) 0 0 em(10);

                &:after,
                &:before {
                    border-radius: em(10) 0 0 em(10);
                }
            }
            
            &.right-strap {
                left: 100%;
                border-radius: 0 em(10) em(10) 0;

                &:after,
                &:before {
                    border-radius: 0 em(10) em(10) 0;
                }
            }
        }
    }

    .pot_cover-shoulder_strap-brights {
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all .3s;

        .pot_bright {
            height: 100%;
            width: em(40);
            position: absolute;
            top: em(10);
            left: em(-10);
            transform-origin: 0 0;
            transform: skewX(-45deg);
            opacity: .25;
            transition: all .3s;
        }
    }

    .pot_cover-brights {
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all .3s;

        .pot_bright {
            height: 100%;
            position: absolute;
            transform: skewX(-45deg);
            transform-origin: 100%;
            opacity: .75;
            top: em(10);
            transition: all .3s;

            &:first-child {
                left: 0;
                width: em(50);
            }
        
            &:last-child {
                left: em(85);
                width: em(90);
            }
        }
    }

    .pot_base-brights {
        opacity: 0;
        bottom: 0;
        width: 100%;
        height: em(50);
        overflow: hidden;
        position: absolute;
        transition: all .3s;

        .pot_bright {
            bottom: 0;
            height: 100%;
            position: absolute;
            transform: skewX(-45deg);
            transform-origin: 100%;
            opacity: .25;
            transition: all .3s;

            &:first-child {
                width: em(50);
                left: em(65);
            }
        
            &:last-child {
                width: em(100);
                left: em(145);
            }
        }
    }

    .pot_base-border-brights {
        opacity: 0;
        top: 0;
        width: 100%;
        height: 0;
        position: absolute;
        transition: all .3s;

        .pot_bright {
            width: em(10);
            opacity: 1;
            position: absolute;
            z-index: 2;
            transition: all .3s;

            &:first-child {
                left: 0;
                top: em(25);
                height: em(20);
            }

            &:nth-child(2) {
                left: 0;
                top: em(60);
                height: em(60);
            }
        
            &:last-child {
                right: 0;
                top: em(150);
                height: em(40);
            }
        }
    }

    .pot_base-details {
        opacity: 0;
        width: 100%;
        height: em(50);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s;

        .pot_detail {
            transition: all .3s;
            position: absolute;
            border-radius: em(5);

            &:first-child {
                width: em(25);
                height: em(15);
                bottom: em(25);
                left: em(35);
            }
            &:nth-child(2) {
                width: em(20);
                height: em(10);
                bottom: em(5);
                left: em(80);
            }
            &:nth-child(3) {
                width: em(20);
                height: em(10);
                bottom: em(15);
                right: em(85);
            }
            &:nth-child(4) {
                width: em(25);
                height: em(10);
                bottom: em(5);
                right: em(50);
            }
            &:last-child {
                width: em(30);
                height: em(20);
                bottom: em(25);
                right: em(30);
            }
        }
    }

    &.brass-pot {
        @include setPotColor($brass);
        @include potDetails($brass, 1);
        @include potBrights($brass);
    }

    &.bronze-pot {
        @include setPotColor($bronze);
        @include potDetails($bronze);
        @include potBrights($bronze, 1);
    }

    &.silver-pot {
        @include setPotColor($silver);
        @include potDetails($silver);
        @include potBrights($silver, 1);
    }

    &.gold-pot {
        @include setPotColor($gold);
        @include potDetails($gold);
        @include potBrights($gold, 1);
    }
}
