#App {
	width: 100vw;
	min-height: 100vh;
	background-color: $beige;

	.app-content-wrapper {
		width: 100%;
		max-width: rem(1280);
		height: 100vh;
		display: table;
		margin: 0 auto;
		text-align: center;
		
		.column-container {
			position: relative;
			width: 50%;
			display: table-cell;
			vertical-align: middle;
			
			&:only-of-type {
				width: 100%;
			}
		}
	}
}