%map-size {
    width: 129.5vh;
    height: 95vh;       
}

%center-middle  {
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

%gradient-border {
    border: 3px solid rgba($light-gold, .25);
    border-image: linear-gradient(to bottom, $gold 20%, $lighter-gold 40%, $dark-gold 100%);
    border-image-slice: 1;
    box-sizing: border-box;
}

#Map {
    @extend %map-size;
    @extend %center-middle;
    margin-top: 2.5vh;
    background-color: $darker-cyan;

    .wrapper {
        background: url('../images/new_SR_1440.jpg') no-repeat ;
        background-position: center center;
        background-size: cover;
        @extend %center-middle;
        @extend %map-size;
        position: relative;
        z-index: 3;
        
        .overlay {
            color: $white;
            @extend %map-size;
            @extend %center-middle;
            background-color: rgba($darker-cyan, .75);
        }

        canvas,
        .canvas-container {
            transform-origin: 0 0;
        }
        
        .canvas-container {
            opacity: 0;
            transition: opacity .3s
        }        

        canvas {
            top: 0;
            left: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: url('../images/icons/cursor.png'), auto;

            &.lower-canvas {
                background: url('../images/new_SR_1440.jpg') no-repeat ;
                background-position: center center;
                background-size: cover;
            }

        }

        svg {
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}