// colors variables

$white: white;

$black: black;

$gray: #5c5b57;
$dark-gray: #1e2328;
$light-gray: #a09b8c;

$gold: #c8aa6e;
$light-gold: #cdbe91;
$lighter-gold: #f0e6d2;
$dark-gold: #785a28;

$green: #09a646;
$light-green: #66f8a0;

$cyan: #0ac8b9;
$light-cyan: #cdfafa;
$dark-cyan: #005176;
$darker-cyan: #010a13;

