// colors variables

$white: white;
$grey: #707064;
$dark: darken(#707064, 10%);
$black: black;


$brass: #6d7a6d;
$bronze: #aa5a20;
$silver : #719dae;
$gold: #b3a31f;

$beige: #F4EED7;
$sand: #C9C3A9;

$yellow: #FFBD13;

:export {
	beige: $beige;
	brass: $brass;
	bronze: $bronze;
	dark: $dark;
	gold: $gold;
	grey: $grey;
	sand: $sand;
	silver : $silver;
	yellow: $yellow;
}
