@include animation("fade") {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include animation("scale") {
    0% {        
        transform: scale(0)
    }
    100% {        
        transform: scale(1)
    }
}


@include animation("rotate") {
    0% {        
        transform: rotate(0deg)
    }
    100% {        
        transform: rotate(359deg)
    }
}
