@import "vars";
@import "colors";
@import "functions";
@import "keyframes";
@import "fonts";
@import "reset";

@import '../../node_modules/react-custom-scroll/dist/customScroll.css';

html {
    font-size: 0.83vw;
    
    @include media(mobile) {
        font-size: 4.26vw;
    }
}

@import 'components/App';
@import 'components/_Pot';
@import 'components/_Button';
@import 'components/_Thumb';
@import 'components/_Pokedex';
@import 'components/_Cabinet';
@import 'components/_Display';




